/* your code */
thead {
  background-color: #215a8e;
  color: #fff;
}
table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 7px;
  border: 1px solid #ddd;
  overflow: hidden;
  font-size: 0.5rem;
  font-family: sans-serif;
}
th,
td {
  padding: 8px 5px;
  text-align: left;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}
